html, body, #map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 0;
}

#post {
  z-index: 1;
  position: fixed;
  background-color: white;
  border: 0.2em solid;
  border-radius: 25px;
  padding: 0.3em;
  opacity: 0.4;
  top: 1em;
  font-size: 3em;
  margin: 15px;
}

#title {
  font-family: Courier;
  font-size:30px;
}

#body {
  font-family: Courier;
  font-size: 18px;
}

#user {
  font-family: Courier;
  font-size: 18px;
  text-align: right;
}

#heyyou {
  z-index: 1;
  position: fixed;
  opacity: 0.4;
  bottom: 0.5em;
  right: 0.5em;
  font-size: 3em;
  font-family: Courier;
}